<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <i class="fa-regular fa-eye"></i>
                Vicionando Series
            </a>
            <div class="d-flex v-align-center ">      
                <!--
                <form action="/api/users/authenticate" method="post">  
                    <input type="text" name="username" id="username" placeholder="username">            
                    <input type="password" name="password" id="password" placeholder="Password">            
                    <button class="btn btn-primary py-1 px-2 m-1" type="submit">Ingresar</button>
                </form>
                -->
                <button class="navbar-toggler  py-1 px-2 m-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">                
                    <span class="navbar-toggler-icon btn btn-sm"></span>
                </button>                    
            </div>            
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item ">
                        <a class="nav-link" href="\">API info</a>
                    </li> 
                    <li class="nav-item">   
                                        
                        <a class="nav-link active" aria-current="page" href="/api/users/profile"> userName  Perfíl</a> 
                    </li> 
                    <li class="nav-item">                        
                        <a class="nav-link active" aria-current="page" href="\"> Cerrar sesión</a>
                    </li>          
                </ul>                
            </div>  
        </div>
    </nav>
</header>    